<% provide(:title, 'Gallery') %>
<!-- Start Portfolio -->
<div id="portfolio" class="clearfix">

	<!-- Start Header Text -->
	<h1 class="header-text"><%= t('.gallery_page_title', :default => 'Gallery') %> <span><%= t('.gallery_page_title_trailer', :default => 'Lorem ipsum dolor sit amet, consectetur.') %></span></h1><!-- End Header Text -->
	
	<div class="divider"></div>
    
    <!-- Start Portfolio Content -->
    <div id="selecter">
    
        <!-- Start Filter in Categorie -->
        <div class="filter clearfix">
	        <div class="selecterBtns">
	          <ul class="nolist">
	            <li><a href="#" rel="all" class="active">All</a></li>
	            <li><a href="#" rel="web-design">Web Design</a></li>
	            <li><a href="#" rel="print">Print</a></li>
	            <li><a href="#" rel="logo">Logo</a></li>
	          </ul>
	        </div>
        </div><!-- End Filter in Categorie -->
        
        <div class="clear"></div>
        
        <!-- Start Portfolio Content -->
        <ul class="selecterContent">
        	<li class="one-third web-design">
            	<div class="image">
									<%= image_tag "example/portfolio1.jpg" %>
                  <div class="pattern"></div>
                  <a href="example/view.jpg" class="link" rel="pretty">View</a>
                </div>
           </li>
            
            <li class="one-third print">
            	<div class="image">
									<%= image_tag "example/portfolio2.jpg" %>
                    <div class="pattern"></div>
                    <a href="example/view.jpg" class="link" rel="pretty">View</a>
                </div>
            </li>
            
            <li class="one-third web-design">
            	<div class="image">
									<%= image_tag "example/portfolio3.jpg" %>
                    <a href="example/view.jpg" class="link" rel="pretty">View</a>
                </div>
            </li>
            
            <li class="one-third logo">
            	<div class="image">
									<%= image_tag "example/portfolio4.jpg" %>
                    <a href="example/view.jpg" class="link" rel="pretty">View</a>
                </div>
            </li>
            
            <li class="one-third logo">
            	<div class="image">
									<%= image_tag "example/portfolio5.jpg" %>
                    <a href="example/view.jpg" class="link" rel="pretty">View</a>
                </div>
            </li>
            
            <li class="one-third logo">
            	<div class="image">
									<%= image_tag "example/portfolio6.jpg" %>
                    <a href="example/view.jpg" class="link" rel="pretty">View</a>
                </div>
            </li>
            
            <li class="one-third print">
            	<div class="image">
									<%= image_tag "example/portfolio7.jpg" %>
                    <a href="example/view.jpg" class="link" rel="pretty">View</a>
                </div>
            </li>
            
            <li class="one-third print">
            	<div class="image">
									<%= image_tag "example/portfolio8.jpg" %>
                    <a href="example/view.jpg" class="link" rel="pretty">View</a>
                </div>
            </li>
            
            <li class="one-third print">
            	<div class="image">
									<%= image_tag "example/portfolio9.jpg" %>
                    <a href="example/view.jpg" class="link" rel="pretty">View</a>
                </div>
            </li>
        </ul><!-- End Portfolio Content -->
        
        <div class="clear"></div>
        
	</div><!-- End Portfolio Content -->        
    
</div><!-- End Portfolio -->
